<!DOCTYPE html>
<html>

<head>
    <!-- icon font -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- vuetify material design -->
    <link href="./vuetify.css" rel="stylesheet">

    <!-- custom fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/xjp7lfb.css">

    <!-- custom style -->
    <link rel="stylesheet" href="./tinker.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=no, minimal-ui">
</head>

<body class="tinker-body">
    <div id="app">
        <!-- NAVBAR -->
        <v-app-bar app dense hide-on-scroll elevate-on-scroll>

            <v-toolbar-title>{{pageTitle}}</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-btn v-for="item in navigation" :key="item.title" text
                    @click="$vuetify.goTo(item.target, scrollOptions)">{{item.title}}</v-btn>
            </v-toolbar-items>

        </v-app-bar>
        <!-- END NAVBAR-->
        <v-app id="main">
            <v-content id="content">
                <!-- SPLASH IMAGE (PRALLAX EFFECT)-->
                <v-parallax dark :src="bgimage" :height="splasImageHeight">
                    <v-container fill-height>
                        <v-row class="text-center">
                            <v-col sm="12" cols="12">
                                <h1 v-if="this.$vuetify.breakpoint.xs" class="display-1 tinker-splash-text ">
                                    {{pageTitle}}</h1>
                                <h1 v-else class="display-4 tinker-splash-text ">{{pageTitle}}</h1>
                                <h4 v-if="this.$vuetify.breakpoint.xs" class="tinker-splash-text ">
                                    {{subheading}}</h4>
                                <h4 v-else class="display-3 tinker-splash-text ">{{subheading}}</h4>
                                <v-btn class="grey lighten-5 display-1" x-large>
                                    <v-icon left>mdi-human-greeting</v-icon>
                                    Bin dabei!
                                </v-btn>
                        </v-row>
                    </v-container>
                </v-parallax>
                <!-- END SPLASH IMAGE-->
                <!-- PRIMARY-CARD HEADLINE -->
                <v-container fluid>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title id="welcome">
                            <p class="display-3">Willkommen zum Tinkerfestival Würzburg</p>
                        </v-card-title>
                        <v-card-text>
                            <p>
                                Komm zum Tüfteln ins Ideenlabor im ZDI Würzburg und konzipiere mit uns an den Modellen
                                für die Stadt der Zukunft.Wir sind davon überzeugt, dass großartige, innovative Ideen
                                nicht nur in Forschungslaboren entstehen, sondern auf spielerisch inspirierende
                                Weise in den Köpfen aller Menschen. Deshalb wollen wir am 30.11. und 01.12. mit so
                                unterschiedlichen Menschen wie möglich die Köpfe zusammen stecken und Ideen sammeln,
                                entwerfen, gestalten, tüftlen und Prototypen bauen.
                            </p>
                        </v-card-text>
                    </v-card>
                </v-container>
                <!-- END PRIMARY-CARD-->
                <!-- PRIMARY-CARD HEADLINE -->
                <v-container class="row-bg-right-top row-bg-left-top" fluid>
                    <v-card class="mx-auto transparent" max-width="800" flat>
                        <v-card-title id="city-of-the-future">
                            <p class="display-3">Stadt der Zukunft</p>
                        </v-card-title>
                        <v-card-text>
                            <p>
                                50% der Bevölkerung lebt bereits in Städten, Tendenz steigend. Das fordert uns auf neue
                                Ideen und Konzepte für die Gestaltung unseres Zusammenleben zu entwerfen.Wird es noch
                                Autos geben? Bauen wir unser Gemüse bald auf den Dächern der Hochhäuser an? Wie
                                sieht ein Besuch im Museum in 50 Jahren aus? Wo finden wir neue Plätze für Natur? Egal
                                ob kleines Gadget oder große Vision. Wenn du bereits eine Idee im Kopf hast oder einfach
                                nur Lust dich zusammen mit anderen damit zu
                                beschäftigen, dann ist das Tinkerfestival für dich!
                            </p>
                        </v-card-text>
                    </v-card>
                </v-container>
                <!-- END PRIMARY-CARD-->
                <!-- PRIMARY-CARD HEADLINE -->
                <v-container fluid>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title id="tell-me-more">
                            <p class="display-3">Was ist das</p>
                            <p class="display-3 tinker-splash-text">tinkerfestival</p>
                        </v-card-title>
                        <v-card-text>
                            <p>
                                Entwickle zusammen mit Begeisterten aus verschiedenen Bereichen Prototypen für deine
                                Ideen. Über das Wochenende wollen wir uns mit der Stadt der Zukunft beschäftigen, Ideen
                                austauschen und diese in Gruppen konzipieren und prototypisch umsetzen.Das Ideenlabor
                                im ZDI (Rottendorfer Str. 71, 97074 Würzburg) ist dafür der perfekte Ort.Los gehts am
                                Samstag 30.11 ab 10:00 Uhr. Nach dem Kennenlernen und der Gruppenfindung kann es direkt
                                losgehen. Ihr habt bis Sonntag 14:00 Uhr Zeit
                                an euren Ideen zu tüfteln und Prototypen zu entwerfen. Dabei könnt ihr euch ganz auf
                                eure Arbeit konzentrieren, für Essen und Trinken ist gesorgt! Anschließend werden die
                                Gruppen ihre Projekte präsentieren. Die besten Projekte
                                werden von einer Jury geehrt.
                            </p>
                        </v-card-text>
                    </v-card>
                </v-container>
                <!-- END PRIMARY-CARD-->
                <!-- CARD-ROW FAQ-->
                <v-container>
                    <v-row id="faq">
                        <v-col cols="12" sm="12" md="4">
                            <v-card class="card-bg card-bg-green" tile flat>
                                <v-card-title>
                                    <h3>Wie viel kostet das Tinkerfestival?</h3>
                                </v-card-title>
                                <v-card-text>Das Tinkerfestival kostet dich keinen Cent! Alle Materialien werden bereit
                                    gestellt und auch für Essen und Trinken ist gesorgt.</v-card-text>
                            </v-card>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                            <v-card class="card-bg card-bg-red" tile flat>
                                <v-card-title>
                                    <h3>Für wen ist das Festival?</h3>
                                </v-card-title>
                                <v-card-text>Für alle die Lust haben sich mit dem Thema auseinander zu setzen und mit
                                    anderen an einem Projekt zu arbeiten. Vorwissen im Programmieren, Elektronik oder
                                    Design ist nicht von nöten. Wir wollen möglichst unterschiedliche
                                    Menschen zusammen bringen.
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                            <v-card class="card-bg card-bg-blue" tile flat>
                                <v-card-title>
                                    <h3>Was muss ich mitbringen?</h3>
                                </v-card-title>
                                <v-card-text>Ein Laptop oder Tablet, wenn du eins besitzt, wird nützlich sein. Wlan,
                                    Drucker und Büromaterialien stehen ausreichend zur Verfügung. Außerdem stellen wir
                                    Materialien für Prototypen wie Arduinoboards und einen 3D Drucker.</v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title id="faq">
                            <p class="display-2">Noch Fragen?</p>
                        </v-card-title>
                        <v-card-text>
                            Schreib uns an mail@tinkerfestival.de
                        </v-card-text>
                    </v-card>
                </v-container>
                <!-- END CARD-ROW -->
                <!-- IMAGE-MID -->
                <v-parallax dark :src="bgimage" height="400">
                    <v-row justify="center">
                        <v-col class="mx-auto text-center" cols="6">
                            <v-dialog v-model="signUpDialog" persistent width="600px" height="90%">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="success" dark v-on="on" x-large>
                                        <v-icon left>mdi-human-greeting</v-icon>
                                        Bin dabei!
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <v-spacer></v-spacer>
                                        <v-btn text @click="signUpDialog = false">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <iframe
                                                :src="'https://docs.google.com/forms/d/e/' + signUpForm + '/viewform?embedded=true'"
                                                width="100%" height="900px">Wird geladen…</iframe>
                                        </v-container>
                                    </v-card-text>

                                </v-card>
                            </v-dialog>
                            <h4 class="subheading">Na los, komm schon!</h4>
                        </v-col>
                    </v-row>
                </v-parallax>
                <!-- END IMAGE-MID -->
                <!-- IMAGE-ROW -->
                <v-container>
                    <v-row>
                        <v-col v-for="n in sponsors" :key="n" cols="sm">
                            <v-card class="mx-auto" max-width="400">
                                <v-img class="white--text align-end" height="200px" :src="n.logo">
                                    <v-card-title>{{n.name}}</v-card-title>
                                </v-img>

                                <v-card-subtitle class="pb-0">Sponsor</v-card-subtitle>

                                <v-card-text class="text--primary">
                                    <div>{{n.description}}</div>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn color="orange" text :href="n.link">
                                        Mehr Informationen
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <!-- END IMAGE-ROW -->
                <!-- SUB-TEXT -->
                <v-container>
                    <v-row>
                        <v-col cols="md">
                            <div class="mx-auto">
                                <p>Zentrierter Text unterhalb der Bilder</p>
                                <div class="overline font-weight-light">
                                    Licensed by CC0
                                    <v-icon>mdi-creative-commons</v-icon>
                                    {{ new Date().getFullYear() }}
                                </div>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
                <!-- END SUB-TEXT -->
            </v-content>
            <v-footer padless>
                <v-bottom-navigation>
                    <v-btn v-for="item, id in showLoveAt" :key="item.id" :href="item.link">
                        <span>{{item.name}}</span>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-btn>
                </v-bottom-navigation>
            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify({
                theme: {
                    dark: false,
                }
            }),
            data: {
                pageTitle: "tinkerfestival 2019",
                subheading: "30.11. - 01.12.",

                showLoveAt: [{
                    name: "Facebook",
                    icon: 'mdi-facebook',
                    link: "https://fb.me"
                }, {
                    name: "Instagram",
                    icon: 'mdi-instagram',
                    link: "https://instagr.am"
                }, {
                    name: "twitter",
                    icon: 'mdi-twitter',
                    link: "https://twitter.de"
                }],

                navigation: [{
                    title: "FAQ",
                    target: "#faq"
                }, {
                    title: "Anmelden",
                    target: "#signup"
                }, {
                    title: "Datenschutz",
                    target: "#signup"
                }, {
                    title: "Impressum",
                    target: "#signup"
                },],

                sponsors: [{
                    name: "ZDI Würzburg",
                    logo: "./sponsoren/logo_zdi.png",
                    link: "https://www.zdi-ainfranken.de/zdi/index.html",
                    description: "Sponsor für 3D-Drucke, Domain und Webentwicklung"
                },
                {
                    name: "Fakultät Gestaltung FHWS",
                    logo: "./sponsoren/logo_fg_fhws.png",
                    link: "https://fg.fhws.de/",
                    description: "Sponsor für 3D-Drucke, Domain und Webentwicklung"
                },
                {
                    name: "prezelpriter",
                    logo: "./sponsoren/logo_fanti.png",
                    link: "https://marcfischer.org",
                    description: "Sponsor für 3D-Drucke, Domain und Webentwicklung"
                },],

                loremIpsum: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
                signUpForm: "1FAIpQLScA0dGYLIS5WV0sVbh1tXQFnug-BnDESKDEeZpdUjDTPqdZLA",
                signUpDialog: false,

                scrollOptions: {
                    duration: 300,
                    easing: 'easeInOutCubic',
                    offset: 100
                },
                bgimages: {
                    xl: "background_image_xl-12.png",
                    l: "background_image_l-13.png",
                    s: "background_image_s-14.png",
                },

            },
            computed: {
                theme() {
                    return (this.$vuetify.theme.dark) ? 'dark' : 'light'
                },
                bgimage() {
                    if (this.$vuetify.breakpoint.xs) {
                        return './assets/' + this.bgimages['s'];
                    }
                    if (this.$vuetify.breakpoint.sm || this.$vuetify.breakpoint.md) {
                        return './assets/' + this.bgimages['l'];
                    }
                    if (this.$vuetify.breakpoint.xl || this.$vuetify.breakpoint.lg) {
                        return './assets/' + this.bgimages['xl'];
                    }
                },
                cardBgimage() {

                },
                splasImageHeight() {
                    return window.innerHeight;
                }
            },
            watch: {

            },
        })
    </script>
</body>

</html>