<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app id="main" :style="{background: $vuetify.theme.themes[theme].background}">
            <!-- NAVBAR -->
            <div>
                <v-app-bar>
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>

                    <v-toolbar-title>{{pageTitle}}</v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-btn icon>
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>
                    <!-- Lichtschalter 
                    <v-tooltip left>
                        <template v-slot:activator="{ on }">
                            <v-btn icon @click="this.vuetify.theme.dark = !this.vuetify.theme.dark">
                                <v-icon v-if="this.vuetify.theme.dark">mdi-lightbulb-off</v-icon>
                                <v-icon v-else>mdi-lightbulb-on</v-icon>
                            </v-btn>
                        </template>
                        <span>Licht {{this.vuetify.theme.dark ? 'ausschalten' : 'anschalten'}}</span>
                    </v-tooltip>
                -->
                    <v-menu left bottom>
                        <template v-slot:activator="{ on }">
                            <v-btn icon v-on="on">
                                <v-icon>mdi-heart</v-icon>
                            </v-btn>
                        </template>

                        <v-list>
                            <v-list-item v-for="item, id in showLoveAt" :key="item.id">
                                <v-list-item-title>
                                    <v-btn block :href="item.link">
                                        <v-icon left>{{item.icon}}</v-icon>{{item.name}}
                                    </v-btn>
                                </v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-app-bar>
            </div>
            <!-- END NAVBAR-->
            <v-content>
                <!-- HEADER IMAGE (PRALLAX EFFECT)-->
                <v-parallax dark src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg" height="1000">
                    <v-row align="center" justify="center">
                        <v-col class="text-center" cols="12">
                            <h1 class="display-1 font-weight-thin mb-4">{{pageTitle}}</h1>
                            <h4 class="subheading">Build your application today!</h4>
                        </v-col>
                    </v-row>
                </v-parallax>
                <!-- END HEADER IMAGE-->
                <!-- PRIMARY-CARD HEADLINE -->
                <v-container fluid>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title>
                            <p class="display-4" align="center">Lorem Ipsum!</p>
                        </v-card-title>
                        <v-card-text>
                            <p>
                                {{loremIpsum}}
                            </p>
                        </v-card-text>
                    </v-card>
                </v-container>
                <!-- END PRIMARY-CARD-->
                <!-- CARD-ROW -->
                <v-container>
                    <v-row>
                        <v-col v-for="n in 3" :key="n" cols="sm">
                            <v-card class="pa-2" outlined tile flat>
                                <v-card-title>
                                    <h3>Kiste {{n}}</h3>
                                </v-card-title>
                                <v-card-text>{{loremIpsum}}</v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <!-- END CARD-ROW -->
                <!-- IMAGE-MID -->
                <v-parallax dark src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg" height="400">
                    <v-row align="center" justify="center">
                        <v-col class="mx-auto text-center" cols="6">
                            <v-btn>Irgendein Knopf</v-btn>
                            <h4 class="subheading">baschd scho so.</h4>
                        </v-col>
                    </v-row>
                </v-parallax>
                <!-- END IMAGE-MID -->
                <!-- IMAGE-ROW -->
                <v-container>
                    <v-row>
                        <v-col v-for="n in 6" :key="n" cols="sm">
                            <v-card class="pa-2" outlined tile flat>
                                <v-card-text>
                                    Bild {{n}}
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <!-- END IMAGE-ROW -->
                <!-- SUB-TEXT -->
                <v-container>
                    <v-row>
                        <v-col cols="md">
                            <div class="mx-auto" align="center">
                                <h4>Zentrierter Text unterhalb der Bilder</h4>
                                {{loremIpsum}}
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
                <!-- END SUB-TEXT -->
                <!-- SPONSORS -->
                <v-container>
                    <v-row>
                        <v-col cols="sm">
                            <div class="mx-auto" align="center">
                                <h2>
                                    Great <v-icon>mdi-heart</v-icon> for our friends, suppliers and backers
                                </h2>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container fluid>
                    <v-row>
                        <v-col v-for="n in 8" :key="n" cols="sm">
                            <v-img src="https://picsum.photos/id/11/150/150" lazy-src="https://picsum.photos/id/11/10/6"
                                aspect-ratio="1" class="grey lighten-2" max-width="150" max-height="150"></v-img>
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
            <v-footer padless>
                <v-card flat tile class="text-center">
                    <v-card-text>
                        <v-btn v-for="icon in 7" :key="icon" class="mx-4 grey--text" icon>
                            <v-icon size="24px">{{ icon }}</v-icon>
                        </v-btn>
                    </v-card-text>

                    <v-card-text class="grey--text pt-0 mx-auto" cols="md">
                        Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo
                        interdum. Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed
                        massa
                        consectetur dignissim a sit amet dui. Duis commodo vitae velit et faucibus. Morbi vehicula
                        lacinia malesuada. Nulla placerat augue vel ipsum ultrices, cursus iaculis dui sollicitudin.
                        Vestibulum eu ipsum vel diam elementum tempor vel ut orci. Orci varius natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus.
                    </v-card-text>

                    <v-divider></v-divider>
                    <div>Licensed under CC0 <v-icon>mdi-creative-commons</v-icon> {{ new Date().getFullYear() }}
                    </div>
            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify({
                theme: {
                    dark: false,
                }
            }),
            data: {
                pageTitle: "tinkerfestival 2019",
                showLoveAt: {
                    1: { name: "Facebook", icon: 'mdi-facebook', link: "https://fb.me" },
                    2: { name: "Instagram", icon: 'mdi-instagram', link: "https://instagr.am" },
                    3: { name: "twitter", icon: 'mdi-twitter', link: "https://twitter.de" }
                },

                loremIpsum: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",

            },
            computed: {
                theme() {
                    return (this.$vuetify.theme.dark) ? 'dark' : 'light'
                }
            }
        })
    </script>
</body>

</html>