<!DOCTYPE html>
<html>

<head>
    <!-- icon font -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- vuetify material design -->
    <link href="./vuetify.css" rel="stylesheet">

    <!-- custom fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/xjp7lfb.css">

    <!-- custom style -->
    <link rel="stylesheet" href="./tinker.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=no, minimal-ui">
</head>

<body class="tinker-body">
    <div id="app">
        <!-- NAVBAR -->
        <v-app-bar app dense hide-on-scroll elevate-on-scroll>

            <v-toolbar-title>{{pageTitle}}</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-btn v-for="item in navigation" :key="item.title" text
                    @click="$vuetify.goTo(item.target, scrollOptions)">{{item.title}}</v-btn>
            </v-toolbar-items>

        </v-app-bar>
        <!-- END NAVBAR-->
        <v-app id="main">
            <v-content id="content">
                <!-- SPLASH IMAGE (PRALLAX EFFECT)-->
                <v-parallax dark src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg" height="1000">
                    <v-row align="center" justify="center">
                        <v-col class="text-center" cols="12">
                            <h1 class="display-4 tinker-splash-text ">{{pageTitle}}</h1>
                            <h4 class="display-3 tinker-splash-text ">{{subheading}}</h4>
                            <br />
                            <v-btn class="grey lighten-5 display-1" v-on="on" x-large>
                                <v-icon left>mdi-human-greeting</v-icon>
                                Bin dabei!
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-parallax>
                <!-- END SPLASH IMAGE-->
                <!-- PRIMARY-CARD HEADLINE -->
                <v-container fluid>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title id="lorem-ipsum-1">
                            <p class="display-4" align="center">Lorem Ipsum 1</p>
                        </v-card-title>
                        <v-card-text>
                            <p>
                                {{loremIpsum}}
                            </p>
                        </v-card-text>
                    </v-card>
                </v-container>
                <!-- END PRIMARY-CARD-->
                <!-- PRIMARY-CARD HEADLINE -->
                <v-container fluid>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title id="lorem-ipsum-2">
                            <p class="display-4" align="center">Lorem Ipsum 2</p>
                        </v-card-title>
                        <v-card-text>
                            <p>
                                {{loremIpsum}}
                            </p>
                        </v-card-text>
                    </v-card>
                </v-container>
                <!-- END PRIMARY-CARD-->
                <!-- CARD-ROW FAQ-->
                <v-container>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title id="faq">
                            <p class="display-4" align="center">FAQ</p>
                        </v-card-title>
                    </v-card>
                    <v-row>
                        <v-col v-for="n in 3" :key="n" cols="sm">
                            <v-card class="pa-2" outlined tile flat>
                                <v-card-title>
                                    <h3>Kiste {{n}}</h3>
                                </v-card-title>
                                <v-card-text>{{loremIpsum}}</v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container>
                    <v-card class="mx-auto" max-width="800" flat>
                        <v-card-title id="faq">
                            <p class="display-2" align="center">Noch Fragen?</p>
                        </v-card-title>
                    </v-card>
                </v-container>
                <!-- END CARD-ROW -->
                <!-- IMAGE-MID -->
                <v-parallax dark src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg" height="400">
                    <v-row align="center" justify="center">
                        <v-col class="mx-auto text-center" cols="6">
                            <v-dialog v-model="signUpDialog" persistent width="600px" height="90%">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="success" dark v-on="on" x-large>
                                        <v-icon left>mdi-human-greeting</v-icon>
                                        Bin dabei!
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <v-spacer></v-spacer>
                                        <v-btn text @click="signUpDialog = false">
                                            <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container>
                                            <iframe
                                                :src="'https://docs.google.com/forms/d/e/' + signUpForm + '/viewform?embedded=true'"
                                                width="100%" height="900px">Wird geladen…</iframe>
                                        </v-container>
                                    </v-card-text>

                                </v-card>
                            </v-dialog>
                            <h4 class="subheading">Na los, komm schon!</h4>
                        </v-col>
                    </v-row>
                </v-parallax>
                <!-- END IMAGE-MID -->
                <!-- IMAGE-ROW -->
                <v-container>
                    <v-row>
                        <v-col v-for="n in sponsors" :key="n" cols="sm">
                            <v-card class="mx-auto" max-width="400">
                                <v-img class="white--text align-end" height="200px" :src="n.logo">
                                    <v-card-title>{{n.name}}</v-card-title>
                                </v-img>

                                <v-card-subtitle class="pb-0">Sponsor</v-card-subtitle>

                                <v-card-text class="text--primary">
                                    <div>{{n.description}}</div>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn color="orange" text :href="n.link">
                                        Mehr Informationen
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <!-- END IMAGE-ROW -->
                <!-- SUB-TEXT -->
                <v-container>
                    <v-row>
                        <v-col cols="md">
                            <div class="mx-auto" align="center">
                                <p>Zentrierter Text unterhalb der Bilder</p>
                                <div class="overline font-weight-light">
                                    Licensed by CC0 <v-icon>mdi-creative-commons</v-icon>
                                    {{ new Date().getFullYear() }}
                                </div>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
                <!-- END SUB-TEXT -->
            </v-content>
            <v-footer padless>
                <v-bottom-navigation v-model="bottomNav">
                    <v-btn v-for="item, id in showLoveAt" :key="item.id" :href="item.link">
                        <span>{{item.name}}</span>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-btn>
                </v-bottom-navigation>
            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify({
                theme: {
                    dark: false,
                }
            }),
            data: {
                pageTitle: "tinkerfestival 2019",
                subheading: "30.11. - 01.12.",

                showLoveAt: [
                    { name: "Facebook", icon: 'mdi-facebook', link: "https://fb.me" },
                    { name: "Instagram", icon: 'mdi-instagram', link: "https://instagr.am" },
                    { name: "twitter", icon: 'mdi-twitter', link: "https://twitter.de" }
                ],

                navigation: [
                    { title: "Lorem-Ipsum-1", target: "#lorem-ipsum-1" },
                    { title: "Lorem-Ipsum-2", target: "#lorem-ipsum-2" },
                ],

                sponsors: [{ name: "prezelpriter", logo: "https://picsum.photos/id/11/150/150", link: "https://marcfischer.org", description: "Sponsor für 3D-Drucke, Domain und Frontendentwicklung" },
                    //: { name: "", logo: "", link: ""},    // Schema
                ],

                loremIpsum: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
                signUpForm: "1FAIpQLScA0dGYLIS5WV0sVbh1tXQFnug-BnDESKDEeZpdUjDTPqdZLA",
                signUpDialog: false,

                scrollOptions: {
                    duration: 300,
                    easing: 'easeInOutCubic',
                    offset: 100
                },

            },
            computed: {
                theme() {
                    return (this.$vuetify.theme.dark) ? 'dark' : 'light'
                }
            },
            watch: {

            },
        })
    </script>
</body>

</html>