/* licensed by CC0 1.0 Universal
see LICENSE.md for more information */

.tinker-body {
    font-family: "chalet-london-sixty", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20pt;
    background: #fff;
}

.tinker-splash-text {
    font-family: flegrei, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
}


/*
.tinker-h1 {
    /** display-4 
}

.tinker-h2 {
    /** display-3 
}

.tinker-h3 {
    /** display-2 
}
*/

.card-bg::before {
    content: " ";
    position: absolute;
    width: 100%;
    margin-top: -150px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.card-bg {
    position: relative;
    background-color: transparent !important;
    z-index: 1;
}

.card-bg-green::before {
    background-image: url('./assets/farbflaeche_einzel_gruen.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.card-bg-blue::before {
    background-image: url('./assets/farbflaeche_einzeln-blau.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.card-bg-red::before {
    background-image: url('./assets/farbflaeche_einzeln_rot.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.row-bg {
    position: relative;
    background-color: transparent !important;
    z-index: 1;
}

.row-bg-right-top::before {
    background-image: url('./assets/Farbflaechen-obenrechts.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.row-bg-right-bottom::before {
    background-image: url('./assets/Farbflaechen-untenrechts.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.row-bg-left-top::before {
    background-image: url('./assets/Farbflaechen-obenlinks.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.row-bg-left-bottom::before {
    background-image: url('./assets/Farbflaechen-untenlinks.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.button-register-splash {
    font-size: 23pt !important;
    font-variant: normal !important;
}