/* licensed by CC0 1.0 Universal
see LICENSE.md for more information */

.tinker-body {
    font-family: "chalet-london-sixty", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20pt;
    background: #fff;
}

.tinker-splash-text {
    font-family: flegrei, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important; 

}

/*
.tinker-h1 {
    /** display-4 
}

.tinker-h2 {
    /** display-3 
}

.tinker-h3 {
    /** display-2 
}
*/

.card-bg-green {
    background-image: url('./assets/farbflaeche_einzel_gruen.svg');
    background-position: 0%;
}

.card-bg-blue {
    background-image: url('./assets/farbflaeche_einzeln-blau.svg');
    background-position: 0%;
}

.card-bg-red {
    background-image: url('./assets/farbflaeche_einzeln_rot.svg');
    background-position: 0%;
}
